$theme-colors: (
    'primary': #AACAA2,
    'secondary': #8797b2,
    'warning': #CB3A35,
    'alert': #F9D51A,
    'dark': #2D3047,
    'info': #4B3B47,
    'success': #38369A
    // 221D23 raisin black
    // 2D3047 black
    // 464655 gray
    // 38369A royal blue
    // 6622CC grape
);
$font-main: (
    'Quicksand', sans-serif
);

$font-other: (
    'Aladin', cursive
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.logo {
    height: 60px;
    width: 60px;
}

body {
    font-family: $font-main;
    color: $secondary;
    // background: {
    //     // image: url('/images/moon3.jpg');
    //     size: cover;
    //     attachment: scroll;
    //     opacity: 0.1
    // }
}

// .bg-home {
    
// }

.link {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-main
}

.tarot-title {
    font-family: $font-other
}

.row {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center
}

.col-4 {
    height: 400px
}

.spinner {
    height: 75px;
    width: 150px;
    margin: auto;
    padding-top: 2em
}

.image {
   height: 400px;
   max-height: 400px;
   width: 235px;
   max-width: 235px;
}

.icon {
    height: 75px;
    width: 75px;
    margin: 5px
}

.card-1 {
    height: 400px;
    max-height: 400px;
    width: 235px;
    max-width: 235px;
    margin: 5px
}

.card-2 {
    height: 400px;
    max-height: 400px;
    width: 300px;
    max-width: 300px;
    margin: 5px;
    
    h3 {
        font-family: $font-other;
        font-size: 28px;
        color: $dark
    }

    h5 {
        font-family: $font-other;
        font-size: 21px;
        color: $dark
    }
}

.card-container {
    height: 200px;
    width: 200px;
    background-color: $secondary; 
}

.btn {
    margin: 5px 5px 5px 0px;
    box-shadow: 5px black;
    font-size: 16px
}

.col {
    justify-content: center;
}

.inner-outline {
    outline: 2px solid white;
    outline-offset: -12px;
}

hr {
    border-color: $dark
}