// theme colors
$green: #AACAA2;
$grey: #8797b2;
$red:  #CB3A35;
$gold: #F9D51A;
$dark: #2D3047;
$raisin: #4B3B47;
$purple: #38369A;

$primary: $green;
$secondary: $grey;
$warning: $red;
$danger: $gold;
$info: $purple;

// 221D23 raisin black
// 2D3047 black
// 464655 gray
// 38369A royal blue
// 6622CC grape

@mixin font($font-family, $font-file) {
    @font-face {
    font-family: 'Aladin, cursive';
    font-family: 'Quicksand', sans serif;
    src: url('/public/fonts/Aladin-Regular.woff') format('woff');
    src: url('/public/fonts/Quicksand-Regular.woff') format('woff');
    src: url('/public/fonts/Quicksand-SemiBold.woff') format('woff');
    src: url('/public/fonts/Quicksand-Light.woff') format('woff');
    }
}

// @include font('Aladin', '/public/fonts/Aladin-Regular.woff');
// @include font('Quicksand', '/public/fonts/Quicksand-SemiBold.woff');
// @include font('Quicksand', '/public/fonts/Quicksand-Light.woff');
// @include font('Quicksand', '/public/fonts/Quicksand-Regular.woff');

$font-quick: (
    'Quicksand', 'Quicksand-SemiBold', sans-serif
);


$font-ala: (
    'Aladin', cursive
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.logo {
    height: 60px;
    width: 60px;
}

body {
    margin: 8px;
    font-family: $font-quick;
    background: {
        color: $purple;
        // image: url('/images/moon3.jpg');
        size: cover;
        attachment: scroll;
        opacity: 0.1
    }
}


.link {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-quick
}

.tarot-title {
    font-family: 'Aladin', cursive;
    color: $grey;
}

.text-subtitle {
    color: $grey
}

.gold-card {
    border-radius: 0px 70px ;
    background: {
        image: url('/images/gold.jpg');
        size: cover
    }
    color: $dark;
    font-weight: 600;
}

.row {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center
}

.col-4 {
    height: 400px
}

.spinner {
    height: 75px;
    width: 150px;
    margin: auto;
    padding-top: 2em
}

.image {
   height: 400px;
   max-height: 400px;
   width: 235px;
   max-width: 235px;
}

.icon {
    height: 75px;
    width: 75px;
    margin: 5px
}

.cards-cont {
    background: {
        color: $dark;
        opacity: .5
    }
}

.card-1 {
    height: 400px;
    max-height: 400px;
    width: 235px;
    max-width: 235px;
    margin: 5px;
    background-color: $dark;

}

.card-2 {
    height: 400px;
    max-height: 400px;
    width: 300px;
    max-width: 300px;
    margin: 5px;
    background-color: $green;
    
    
    h3 {
        font-family: $font-ala;
        font-size: 28px;
        color: $dark
    }

    p {
        font-family: $font-quick;
        font-size: 17px;
        color: $dark
    }
}

// .card-container {
//     height: 200px;
//     width: 200px;
//     background-color: $grey; 
// }

.btn {
    margin: 5px 5px 5px 0px;
    box-shadow: 5px dark;
    font-size: 16px;
}

.col {
    justify-content: center;
}

.inner-outline {
    outline: 2px solid white;
    outline-offset: -12px;
}

hr {
    border-color: $dark;
}

.spread-cont {
    p, h3, h5, li {
        color: $grey
    }
}

.img-suits {
    height: 50px;
}

.footer {
    margin-top: 50px;
    background-color: $dark;
}
